<section class="sections">
<ngb-tabset justify="justified" type="pills" [orientation]="currentOrientation" class="nav">
<ngb-tab title="Home" >
  <ng-template ngbTabContent>
    <section>
      <app-carousel></app-carousel>
      <p>
          <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed "
                  [attr.aria-expanded]="isCollapsed" aria-controls="collapseExample" (click)="changeButtonLabel()">
                    {{show}}
          </button>
        </p>
        <div id="collapseExample" [ngbCollapse]="isCollapsed">
          <div class="card">
            <div class="card-body">
              <span class="calendarcomp">
                <app-calendar></app-calendar>
              </span>
      
            </div>
          </div>
        </div>
      </section>
        <Section class="wheater">
          <app-wheater></app-wheater>
          Some wheater api here.
        </Section>
  </ng-template>
</ngb-tab>
<ngb-tab>
  <ng-template ngbTabTitle><b>Studio</b> </ng-template>
  <ng-template ngbTabContent>
  </ng-template>
</ngb-tab>
<!-- //hover tooltip for "comming soon" -->
<ngb-tab title="House" [disabled]="true">
  <ng-template ngbTabContent>
  </ng-template>
</ngb-tab>
<ngb-tab>
    <ng-template ngbTabTitle><b>Gallery</b></ng-template>
    <ng-template ngbTabContent>
      <app-gallery></app-gallery>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Bookings</b></ng-template>
    <ng-template ngbTabContent>
      <app-bookings></app-bookings>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
      <ng-template ngbTabTitle><b>add booking</b></ng-template>
      <ng-template ngbTabContent>
        <app-add-booking>
          (newBooking)="newBooking($event)"
        </app-add-booking>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Reviews</b></ng-template>
      <ng-template ngbTabContent>
        
      </ng-template>
    </ngb-tab>
</ngb-tabset>



