<!-- <div class="ui large form segment">
    <h3 class="ui header">Add booking</h3>
    <div class="field">
      <ul>
        <li><label for="userName">Username:</label> 
          <input id="userName" name="userName" #newbookingUserName></li>
        <li><label for="startNight">Startnight:</label>
          <input id="startNight" name="startNight" #newbookingStartNight>
        </li>
        <li> <label for="endNight">EndNight:</label>
          <input id="endNight" name="startNight" #newbookingEndNight>
        </li>
        <li> <label for="nrOfPersons">How many are joining you?</label>
          <input id="nrOfPersons" name="nrOfPersons" #newbookingNrOfPersons>
        </li>
        <li> <label for="wantsSheet">Do you wish sheets? </label>
          <input id="wantsSheet" name="wantsSheet" #newbookingWantsSheet>
        </li>
      </ul>
      
    </div>
    <button (click)="addBooking(newbookingUserName,newbookingStartNight,newbookingEndNight,newbookingNrOfPersons,newbookingWantsSheet)"
          class="ui positive right floated button">
      add booking 
    </button>
  </div> -->

  <form [formGroup] = 'booking' (ngSubmit) = 'onSubmit()' class="form">
    <h3>Add Booking</h3>
    <div>
      <label for='userName_id'>username:</label>
      <input type="text" id="userName_id" formControlName = 'userName' #spy>
      <div *ngIf='booking.get("userName").errors?.required && booking.get("userName").touched' 
    class='ui pointing red basic label'>
    error! this is required
  </div>
      <label for='startNight_id'>startNight:</label>
      <input type="date" id="startNight_id" formControlName = 'startNight' ng-disabled="true" value="{fromDate}">
      <label for='endNight_id'>endNight:</label>
      <input type="date" id="endNight_id" formControlName = 'endNight' ng-disabled="true" value="{toDate}">
      <label for='nrOfPersons_id'>number of Persons:</label>
      <select id="nrOfPersons_id" formControlName = 'nrOfPersons'>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
      <label for='wantsSheet_id'>Do you wish sheets?</label>
      <input type="checkbox" id="wantsSheet_id" formControlName = 'wantsSheet'>
    </div>
    <div>
      <button type="submit">add</button>
    </div>
  </form>
  REMOVE {{ booking.value | json }} {{ booking.valid }}
{{booking.get("userName").errors |json}}