<h2> Already booked dates : </h2>

 <!-- <ul>
  <li *ngFor="let booking of _bookings"></li>
  <a > {{booking._userName}</a>

  <ul>
    <li>{{booking._startNight | date: 'dd/MM/yyyy'}}</li>
    <li>{{booking._endNight | date: 'dd/MM/yyyy'}}</li>
    <li>{{booking._totalPrice}}</li>
    <li>{{booking._wantsSheet}}</li>
    <li>{{booking._nrOfPersons}}</li>
  </ul>
</ul>  -->

<div class="container">
    
  <div class="card ">
    <div class="card-body">
      <app-booking *ngFor='let booking of bookings'
        [booking]='booking' (delete)='deleteBooking($event)'></app-booking>
    </div>
  </div>
</div>
